[mysqld]
lower-case-table-names=1
socket=sock
mysqlx=OFF

lower-case-table-names = 1
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
loose-group_replication_start_on_boot=off
loose-group_replication_local_address= "127.0.0.1:33033"
loose-group_replication_group_seeds= "127.0.0.1:33033,127.0.0.1:33044"
loose-group_replication_bootstrap_group=off
loose-group_replication_member_weight=50
log-bin=                 master-bin
binlog-format=           row
log-slave-updates
general_log=1
server_id= 1
back_log=1000
#query_cache_type=1
sql_mode=''
binlog-ignore-db=        dbscale_tmp
max-allowed-packet = 4194304

#for debuging
thread-handling = no-threads
performance-schema = OFF
skip-ssl = 1
default-authentication-plugin=mysql_native_password
#for debuging
