./
build/**
tests/*.o
tests/*.out
gtests/*.o
gtests/**/*.o
gtests/*.out
nbproject/**
.vscode/**/*.ipch
.vscode/**/*.bin
./tags
*.files
*.includes
*.creator
*.config
*.user
log
unp.log
myeasylog.log
unp.cxxflags
unp.cflags
boost_1_72_0.tar
filelock
compile_commands.json
test.out
**/.clangd/**
examples/**/*.o
sync_client
sync_server
*.swp
**/core
**/*.pb.*
breaks
**/*.out
**/*.o
**/*.yy.c
**/*.tab.c
